@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headerBar {
  padding: 0.5rem 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  border-bottom: 0.5px solid #ccd;
  position: static;
}
.searchBox {
  padding: 0.85rem;
  width: 40rem;
  border-radius: 24px;
  outline: none;
  border: none;
}
.imageList {
  /* background-color: #f9f9f9; */
  /* padding: 0.5rem 5rem;
  display: flex;
  flex-wrap: wrap; */
  /* height: 100vmin; */
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 2.5rem;
  border: 2.5rem solid #f9f9f9;
}
.fit {
  /* width: fit-content;
  width: auto;
  display: flex; */
  width: minmax(200px, 1fr);
  position: relative;
  overflow: hidden;
  display: grid;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.imageContainer {
  width: 100%;
  /* height: fit-content; */
  display: block;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s;
  flex: 1;
  /* border: 5px solid #f9f9f9; */
}
.imageContainer:hover {
  transform: scale(1.05);
}
